* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}
h1 {
    color: #000000;
    text-align: center;
    margin: 1rem 0;
}
h2 {
    color: #000000;
    text-align: center;
    font-style: italic;
}
h3 {
    color: #000000;
    text-align: center;
    font-style: bold;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #a5dcac;
}
nav {
    background-color: #333;
    width: 100%;
    color: white;
    padding: 1rem;
    text-align: center;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    text-align: center;
}
nav a:hover {
    text-decoration: underline;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
}

main {
    flex: 1;
    padding: 2rem;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

hr {
    border: none;
    border-top: 1px solid #000;
    width: 100%;
    margin: 1rem 0;
}
button {
    background-color: #4CAF50; /* Green background */
    color: white;              /* White text color */
    padding: 20px 40px;        /* Increase padding to make the button bigger */
    font-size: 18px;           /* Increase font size */
    border: none;              /* Remove border */
    border-radius: 5px;        /* Rounded corners */
    cursor: pointer;          /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition for background color */

}